@use '@/presentation/styles/Form.module.scss';

.createForm {
  padding: 1.5rem;

  .formTitle {
    font-size: 1.5rem;
    color: black;
    margin: 0 0 1rem;
  }
 
  .buttonEditContainer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  .buttonCancelSubmit {
    background: white;
    color: black;
    border: 1px solid black;
  }
  .buttonSaveSubmit {
    background: #47B960;
  }

}